body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./background_image.gif");
    background-size: cover;
        /* Adjust this property to control how the image covers the container */
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* Keeps the background fixed while scrolling */
        background-position: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #333;
}

.converter {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

select,
button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button {
    margin-left: 10px;
}

.result {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}